*{
    transition: all 0.3s ease-in-out;
}
.credit{
    color: whitesmoke;
}
.credit a{
    color: whitesmoke;
    font-weight: bold;
}
.credit a:hover{
    color: rgb(237, 181, 0);
}

.container{
    padding-top: 100px;
}
#app{
    height: 50vh;
}